* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
}

#drawer i {
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 9999;
    border: 0;
    outline: none;
    position: absolute;
    top: 40%;
    left: 40%;
    cursor: pointer;
}