# ----[ plugins ]------- #
kbe_temp_*

# ----[ Editor ]------- #
.vscode
.vs
.idea
build.log
# .vscode/settings.json
# ----[ Visual Studio ]------- #
/kbe/src/_objs
/kbe/src/ipch
__pycache__/
logs/
*.suo
*.user
*.ncb
*.plg
*.opt
*.aps
*.aps
*.sdf
*.opensdf
*.exp
*.idb
*.ilk
*.exe
*.pdb
*.chw
/kbe/src/vcpkg_installed

/kbe/src/lib/pythonBuild/pythonBuild
/kbe/src/lib/pythonBuild/x64
/kbe/src/server/init/x64
/kbe/src/server/init/KBEMain

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

*.pyc

# -------------[ make files ]------------------------ #
/kbe/src/build
/kbe/res/scripts/common/lib-dynload/
/kbe/res/scripts/common/Lib
/kbe/res/scripts/common/DLLs
/kbe/src/lib/python
/kbe/src/lib/pythonBuild/x64
/kbe/src/lib/dependencies

/kbe/src/lib/python/PCbuild
.deps
*.o
*.d
*.a
*.s
*.lo
/kbe/bin/server/baseapp
/kbe/bin/server/baseappmgr
/kbe/bin/server/bots
/kbe/bin/server/cellapp
/kbe/bin/server/cellappmgr
/kbe/bin/server/dbmgr
/kbe/bin/server/interfaces
/kbe/bin/server/kbcmd
/kbe/bin/server/logger
/kbe/bin/server/loginapp
/kbe/bin/server/machine


kbe/bin/server/baseapp.lib
kbe/bin/server/baseappmgr.lib
kbe/bin/server/bots.lib
kbe/bin/server/cellapp.lib
kbe/bin/server/cellappmgr.lib
kbe/bin/server/dbmgr.lib
kbe/bin/server/interfaces.lib
kbe/bin/server/kbcmd.lib
kbe/bin/server/logger.lib
kbe/bin/server/loginapp.lib
kbe/bin/server/machine.lib
kbe/bin/server/python37_d.dll
kbe/bin/server/python313_d.dll
kbe/bin/server/python313.dll
kbe/bin/server/vcruntime140.dll
kbe/bin/server/vcruntime140_1.dll
kbe/src/.vs


kbe/src/libs/apr-1_d.lib
kbe/src/libs/aprutil-1_d.lib
kbe/src/libs/client_lib_d.lib
kbe/src/libs/common_d.lib
kbe/src/libs/db_interface_d.lib
kbe/src/libs/db_mysql_d.lib
kbe/src/libs/db_redis_d.lib
kbe/src/libs/entitydef_d.lib
kbe/src/libs/expat_d.lib
kbe/src/libs/fmt_d.lib
kbe/src/libs/helper_d.lib
kbe/src/libs/hiredis_d.lib
kbe/src/libs/jwsmtp_d.lib
kbe/src/libs/libcurl_d.lib
kbe/src/libs/libeay32_d.lib
kbe/src/libs/log4cxx_d.lib
kbe/src/libs/math_d.lib
kbe/src/libs/navigation_d.lib
kbe/src/libs/network_d.lib
kbe/src/libs/pyscript_d.lib
kbe/src/libs/python37_d.lib
kbe/src/libs/python313_d.lib
kbe/src/libs/resmgr_d.lib
kbe/src/libs/server_d.lib
kbe/src/libs/ssleay32_d.lib
kbe/src/libs/thread_d.lib
kbe/src/libs/tmxparser_d.lib
kbe/src/libs/xml_d.lib
kbe/src/libs/zlib_d.lib
kbe/tools/server/guiconsole/guiconsole.lib
kbe/tools/server/guiconsole/guiconsole.log
kbe/tools/server/guiconsole/guiconsole.log.1
kbe/tools/server/guiconsole/histroycommands.xml
kbe/tools/server/guiconsole/python37_d.dll
kbe/tools/server/guiconsole/python313_d.dll

# kbe/src/lib/entitydef/py_entitydef.cpp

kbe/tools/server/django_packages/Django-1.8.9

kbe/tools/server/webconsole/db.sqlite3

kbe/tools/server/webconsole/WebConsole/migrations/0002_auto_20190220_0947.py

kbe/src/.vs/config/applicationhost.config
kbe/bin/server/baseapp.iobj
kbe/bin/server/baseapp.ipdb
kbe/bin/server/baseappmgr.iobj
kbe/bin/server/baseappmgr.ipdb
kbe/bin/server/bots.iobj
kbe/bin/server/bots.ipdb
kbe/bin/server/cellapp.iobj
kbe/bin/server/cellapp.ipdb
kbe/bin/server/cellappmgr.iobj
kbe/bin/server/cellappmgr.ipdb
kbe/bin/server/dbmgr.iobj
kbe/bin/server/dbmgr.ipdb
kbe/bin/server/interfaces.iobj
kbe/bin/server/interfaces.ipdb
kbe/bin/server/kbcmd.iobj
kbe/bin/server/kbcmd.ipdb
kbe/bin/server/logger.iobj
kbe/bin/server/logger.ipdb
kbe/bin/server/loginapp.iobj
kbe/bin/server/loginapp.ipdb
kbe/bin/server/machine.iobj
kbe/bin/server/machine.ipdb
kbe/bin/server/python37.dll
kbe/src/lib/dependencies/apr/LibR/gen_test_char.obj
kbe/src/libs/apr-1.lib
kbe/src/libs/aprutil-1.lib
kbe/src/libs/client_lib.lib
kbe/src/libs/common.lib
kbe/src/libs/db_interface.lib
kbe/src/libs/db_mysql.lib
kbe/src/libs/db_redis.lib
kbe/src/libs/entitydef.lib
kbe/src/libs/expat.lib
kbe/src/libs/fmt.lib
kbe/src/libs/helper.lib
kbe/src/libs/hiredis.lib
kbe/src/libs/jwsmtp.lib
kbe/src/libs/libcurl.lib
kbe/src/libs/libeay32.lib
kbe/src/libs/log4cxx.lib
kbe/src/libs/math.lib
kbe/src/libs/navigation.lib
kbe/src/libs/network.lib
kbe/src/libs/pyscript.lib
kbe/src/libs/python37.lib
kbe/src/libs/python313.lib
kbe/src/libs/resmgr.lib
kbe/src/libs/server.lib
kbe/src/libs/ssleay32.lib
kbe/src/libs/thread.lib
kbe/src/libs/tmxparser.lib
kbe/src/libs/xml.lib
kbe/src/libs/zlib.lib
kbe/tools/server/guiconsole/guiconsole.iobj
kbe/tools/server/guiconsole/guiconsole.ipdb
kbe/tools/server/guiconsole/python37.dll
kbe/tools/server/guiconsole/python313.dll



kbe/res/sdk_templates/client/ue4/Source/KBEnginePlugins/Engine/.vscode
