shallow_clone: true

branches:
  only:
    - master
    - appveyor

os:
  - Visual Studio 2022

environment:
  matrix:
    - TOOLSET: vs2022

# 自定义构建步骤
build_script:
  - cmd: call install_windows.bat
